.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden {
    display: none;
}

.gallery {
    padding: 0;
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    flex-basis: calc((100% - 80px) / 4);
    margin: 10px;
}

.photo-card:hover,
.photo-card:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.link {
    max-height: 100%;
}

.info {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item:not(:last-child) {
    margin-right: 5px;
}

.card-text {
    margin-top: 10px;
}


.search-form {

    display: flex;
    align-items:center;
    justify-content: center;
    /* justify-items: flex-start; */
    width: 272px;
    height: 40px;
    margin: 10px 20px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.btn-search {


    width: 91px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffffff;
}

input {

    width: 138px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
    border: transparent;
    outline: none;
    
}

.search-form:hover,
.search-form:focus
 {
    border-color: #000000;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.23);
}

 input:not(:placeholder-shown) {
    background-color: aqua;
}
/* 
.load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 15px;
    width: 200px;
    margin: 100px auto;
    border-radius: 40px;
    border-color: darkgrey;
    font-weight: 600;
}

.load-more:hover,
.load-more:focus {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.23);
}

button.is-hidden {
    display: none;
} */