.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .gallery {
    padding: 0;
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
}

 .photo-card {
    flex-basis: calc((100% - 80px) / 4);
    margin: 10px;
    border: 1px solid #808080;
}

.photo-card:hover,
.photo-card:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* .link {
    max-height: 100%;
} */

.info {
    /* padding: 5px; */
    display: flex;
    
    justify-content: center;
    align-items: center;

}

.info-item {
    font-weight: 500;
}

.info-item:not(:last-child) {
    margin-right: 5px;
} 

.card-text {
    font-weight: 400;
}


.search-form {

    display: flex;
    align-items:center;
    justify-content: center;
   
}

.btn-search {

    display: block;
    width: 91px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #FFFFFF;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #6C8CFF;
}
input {

    font-size: 16px;
    width: 272px;
    padding: 5px 10px;
    height: 40px;
    margin: 10px 20px;
    line-height: 1.5;
    border: 1px solid #808080;
    border-radius: 4px;
    color: #808080;
    
}
 
input:hover,
input:focus
 {
    border-color: #000000;
    color: #808080;
   
}


